<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Add Bootstrap to Thymeleaf</title>
    <meta charset="ISO-8859-1">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
    <div class = "container mt-4">
        <h1 class="text-center"> Product List</h1>
        <table class="table table-hover table-dark">
            <thead>
                <tr>
                    <th scope="col">Name: </th>
                    <th scope="col">Description: </th>
                    <th scope="col">Category: </th>
                    <th scope="col">Price: </th>
                    <th scope="col">Quantity: </th>
                    <th scope="col">Photo: </th>
                    <th scope="col">Update: </th>
                    <th scope="col">Delete: </th>
                </tr>
            </thead>
            <tbody>
                <tr  th:each="product : ${listProducts}" >
                    <td th:text="${product.name}"></td>
                    <td th:text="${product.description}"></td>
                    <td th:text="${product.category}"></td>
                    <td th:text="${product.price}"></td>
                    <td th:text="${product.quantity}"></td>
                    <td th:text="${product.productPhotos}"></td>
                    <td><a th:href = "@{/updateProduct}" class="btn btn-info">Update</a></td>
                    <td><a th:href = "@{/deleteProduct}" class="btn btn-danger">Delete</a></td>

                </tr>
            </tbody>
        </table>
        <a th:href = "@{/showFormForCreateNewProduct}" class="btn btn-info float-right "> Add Product </a>

    </div>
</body>

</html>